@import '../helpers/_variable.scss';

.landing-background {
  background: url(#{$image_path}/landing-bg.jpg) no-repeat center center scroll;
  background-size: cover;
  height: 50vh;
  overflow: hidden;
  position: relative;
  cursor: default;
}

.bg-img {
  background-size: cover;
  height: 200px
}
