.landing-background {
  background: url('../../../img/landing-bg.jpg') no-repeat center center scroll;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
  cursor: default;
}

.bg-img {
  background-size: cover;
  height: 200px
}
