$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import '~bootstrap/scss/bootstrap.scss';
// @import '~mdbootstrap/sass/mdb.scss';

@import 'overwrite.scss';
@import 'variable.scss';

@import './components/button.scss';

body {
  background-color: $color-primary
}

.overflow-hidden {
  overflow: hidden !important;
}

