@import './helpers/_variable.scss';
@import './helpers/_mixin.scss';

// EXTERNAL LIB
@import "~font-awesome/scss/font-awesome";
@import '~bootstrap/scss/bootstrap.scss';
// @import 'library/animate.min.css';

// OVERWRITE EXTERNAL LIB
@import 'overwrite';
@import 'global';

// INTERNAL LIB
@import './effect/_hoverable';
@import './components/_button';
@import './components/_drawer';
@import './components/_footer';
@import './components/_loading';
@import './components/_chat';
@import './components/_login';

@import './containers/_home';
@import './containers/_login';


.mask-white {
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
}

.no-padding {
  padding: 0 !important
}
